body {
  padding: 22px;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.setup, .figure{
  padding: 16px;
  margin-bottom:32px;
  h2{
    margin:0;
  }
}

.figure{
  background-color: red;
}

.figure.solved{
  background-color: green;
}

.name{
  font-weight:bold;
}